In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

diabetes_data = pd.read_csv('./pima_project/train.csv')
print(diabetes_data['Outcome'].value_counts())
diabetes_data.head(3)

0    400
1    214
Name: Outcome, dtype: int64

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,7,109.0,80.0,31.0,79.799479,35.9,1.127,43,1
1,4,129.0,86.0,20.0,270.000000,35.1,0.231,23,0
2,2,123.0,48.0,32.0,165.000000,42.1,0.520,26,0

In [ ]:
Pima indians: 북미 피마지역 원주민 type2 당뇨병 결과 데이터, 고립된 지역의 고유 혈통을 지닌 집단에 서구 식습관이 당뇨에 미친 영향
pregnancies: 임신 횟수
glucose: 포도당 부하 검사 수치
bloodpressure: 혈압(mm Hg)
skinthickness: 팔 삼두근 뒤쪽의 피하지방 측정값(mm)
insulin: 혈청 인슐린(mu U/ml)
BMI:  체질량지수(체중(kg) / 키(m)**2)
DiabetesPedigreeFuncions: 당뇨 내력 가중치 값
Age: 나이
Outcome: 클래스 결정값(0, 1)

In [10]:
len(diabetes_data)

614

In [11]:
question = pd.read_csv('./pima_project/test.csv')
question

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,2,74.0,69.105469,20.536458,79.799479,31.992578,0.102,22
1,0,95.0,64.000000,39.000000,105.000000,44.600000,0.366,22
2,3,111.0,90.000000,12.000000,78.000000,28.400000,0.495,29
3,7,129.0,68.000000,49.000000,125.000000,38.500000,0.439,43
4,8,125.0,96.000000,20.536458,79.799479,31.992578,0.232,54
...,...,...,...,...,...,...,...,...
149,1,128.0,48.000000,45.000000,194.000000,40.500000,0.613,24
150,8,95.0,72.000000,20.536458,79.799479,36.800000,0.485,57
151,1,91.0,54.000000,25.000000,100.000000,25.200000,0.234,23
152,3,173.0,84.000000,33.000000,474.000000,35.700000,0.258,22
153,10,75.0,82.000000,20.536458,79.799479,33.300000,0.263,38

In [12]:
question.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               154 non-null    int64
 1   Glucose                   154 non-null    float64
 2   BloodPressure             154 non-null    float64
 3   SkinThickness             154 non-null    float64
 4   Insulin                   154 non-null    float64
 5   BMI                       154 non-null    float64
 6   DiabetesPedigreeFunction  154 non-null    float64
 7   Age                       154 non-null    int64
dtypes: float64(6), int64(2)
memory usage: 9.8 KB

In [89]:
x = diabetes_data.drop(['Outcome'],axis=1)
y = diabetes_data.Outcome

In [33]:
y

0      1
1      0
2      0
3      0
4      0
      ..
609    1
610    0
611    1
612    0
613    0
Name: Outcome, Length: 614, dtype: int64

In [102]:
X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.3, random_state=5)

In [103]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

XX_test_scaled = scaler.transform(question)

In [104]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

lr.fit(X_train_scaled,y_train)

y_pred = lr.predict(X_test_scaled)

print(y_pred)

[0 1 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0
 0 0 0 0 1 0 0 1 0 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 1 0 0
 0 0 0 1 1 0 0 1 1 0 0 1 0 0 1 1 0 0 0 0 1 0 0 0 1 0 1 1 1 0 0 0 1 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 1 1 0 0 1 0 0 0 0 0 1
 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 1 1 0 0 0 0 0 1]

In [105]:
y_pred = lr.predict(XX_test_scaled)

y_pred

array([0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0],
      dtype=int64)

In [99]:
submission = pd.read_csv('./pima_project/submission.csv')

In [100]:
submission['Outcome'] = y_pred

In [101]:
submission.to_csv('yh1',index=False)